extends c

snippet cp1
	#include <bits/stdc++.h>
	using namespace std;
	#define ll long long
	int main() {
		ios_base::sync_with_stdio(false);cin.tie(NULL);cout.tie(NULL);
		${0}
		return 0;
	}

snippet cp2
	#include <bits/stdc++.h>
	using namespace std;
	#define ll long long
	int main() {
		ios_base::sync_with_stdio(false);cin.tie(NULL);cout.tie(NULL);
		freopen("input.txt", "r", stdin);
		freopen("output.txt", "w", stdout);
		${0}
		return 0;
	}
